codespell
markdown-include
mkdocs
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
git-changelog
git+https://github.com/dimrozakis/mkpdfs-mkdocs-plugin.git@master
pygments
weasyprint<53
matplotlib==3.3
pybids
nilearn>=0.10.1